<%- include('partials/header') %>

<div class="climate">
  <span>Climate Change</span>
</div>
</div>


<div class="grid">
  <div class="row">
    <div class="col-4 p-top">What Is Climate Change?</div>
    <div class="col-8 p-top">Climate change refers to the long-term changes in the Earth's climate patterns, such as rising temperatures and increased frequency of extreme weather events, caused by human activities releasing greenhouse gases into the atmosphere</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">
      <ul class="points">
        <li class="point">Explanation of the science behind climate change, including how greenhouse gases trap heat in the atmosphere and how scientists study climate patterns over time</li>
        <li class="point">Overview of the latest research on climate change, including new technologies and innovations that are being developed to address the issue</li>
      </ul>
    </div>
    <div class="col-4">Science of Climate Change</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">Impacts of Climate Change</div>
    <div class="col-8">
      <ul class="points">
        <li class="point">Detailed information on the various ways that climate change is impacting the planet, including rising sea levels, extreme weather events, and changes to ecosystems</li>
        <li class="point">Information on how these impacts are affecting human health, communities, and economies</li>
        <li class="point">Visual aids, such as infographics and maps, to help illustrate the impacts of climate change</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">
      <ul class="list-group points">
        <li class="point">Overview of potential solutions to address climate change, such as renewable energy, energy efficiency, and sustainable transportation</li>
        <li class="point">Information on policies and initiatives that are being implemented to address climate change, both at the local and global levels</li>
        <li class="point">Ways that individuals can take action to reduce their carbon footprint and promote sustainable living</li>
      </ul>
    </div>
    <div class="col-4">Solutions to Climate Change</div>
  </div>
  <hr>
</div>

<%- include('partials/footer') %>