<%- include('partials/header') %>

<div class="climate">
  <span>Climate Change</span>
</div>
</div>


<div class="grid">
  <div class="row">
    <div class="col-4">Lorem</div>
    <div class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, tenetur! Architecto et aperiam beatae exercitationem commodi odit impedit sapiente cupiditate, optio nobis tempora, cumque nemo similique voluptatem quasi rem. Eos.</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, tenetur! Architecto et aperiam beatae exercitationem commodi odit impedit sapiente cupiditate, optio nobis tempora, cumque nemo similique voluptatem quasi rem. Eos.</div>
    <div class="col-4">Lorem</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">Lorem</div>
    <div class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, tenetur! Architecto et aperiam beatae exercitationem commodi odit impedit sapiente cupiditate, optio nobis tempora, cumque nemo similique voluptatem quasi rem. Eos.</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, tenetur! Architecto et aperiam beatae exercitationem commodi odit impedit sapiente cupiditate, optio nobis tempora, cumque nemo similique voluptatem quasi rem. Eos.</div>
    <div class="col-4">Lorem</div>
  </div>
</div>

<%- include('partials/footer') %>